<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="Server=.; DataBase=Programmings; Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="ProgrammingDbContext" connectionString="metadata=&quot;res://*/Programming Model.csdl|res://*/Programming Model.ssdl|res://*/Programming Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CCQ743C;initial catalog=Programmings;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>